<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Floating Action Button</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/kleinerzeugernetzwerk/css/custom/fab.css" />
    </head>
    <body>
        <h1>Floating Action Button (FAB) - Demo</h1>
        <div class="fab-container">
            <div class="fab fab-icon-holder">
                <i class="fas fa-question"></i>
            </div>

            <ul class="fab-options">
                <li>

                    <div class="fab-icon-holder">
                        <img class="" height="40px" width="40px" src="http://localhost/kleinerzeugernetzwerk_uploads/others/categories/fruit.png" alt="">
<!--                        <i class="fas fa-file-alt"></i>-->
                    </div>
                    <span class="fab-label">Documentation</span>
                </li>
                <li>

                    <div class="fab-icon-holder">
                        <i class="fas fa-video"></i>
                    </div>
                    <span class="fab-label">Video Tutorials</span>
                </li>
                <li>

                    <div class="fab-icon-holder">
                        <i class="fas fa-comments"></i>
                    </div>
                    <span class="fab-label">Live Chat</span>
                </li>
                <li>

                    <div class="fab-icon-holder">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                    <span class="fab-label">Feedback</span>
                </li>
            </ul>
        </div>
    </body>
</html>